/* Side Panel Styles */
.side-panel {
  position: fixed;
  top: 0;
  right: -24rem;
  width: 24rem;
  height: 100vh;
  z-index: 1000;
  overflow-y: auto;

  background: rgba(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.25);

  transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-panel.open {
  right: 0;
}

.panel-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.panel-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 1rem;
  padding-left: 0.05rem;
  margin-bottom: 0.125rem;
}

.content-box {
  background: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px dashed rgba(0, 0, 0, 1);
}

.content-box p {
  font-size: 0.75rem;
  color: #555;
  word-break: break-word;
}

.message-textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  resize: vertical;
  background: white;
}

.message-textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: unset;
}

.hint-text {
  font-size: 0.75rem;
  color: #555;
  margin-left: 0.1rem;
}

/* Panel Toggle Button */
.panel-toggle {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  opacity: 0.05;
  transition: opacity 0.3s ease;
  background: none;
  filter: invert(100%);
}

.panel-toggle:hover {
  opacity: 1;
}

.has-open-panel .panel-toggle {
  opacity: 1;
  filter: unset;
}

.has-open-panel .panel-toggle img {
  content: url("../assets/images/close.svg");
}

.panel-toggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Layout Settings Styles */
.panel-section label {
  color: #000;
  font-size: 0.825rem;
  font-weight: 500;
  display: block;
}

.panel-section .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#font-upload-input {
  padding: 0;
  margin-bottom: 0.5rem;
}

#font-upload-input::file-selector-button {
  background: black;
  color: white;
  font-size: 0.75rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.75rem;
}
